.section-about{
  background-color: $color-grey-light-1;
  padding: 15.625em 0;
  margin-top: -20vh;
  //clip-path: polygon(0 20vh, 100% 0, 100% calc(100% - 20vh), 0 100%);
}

.section-features{
  padding:12.5em 0;
  margin-top: -10rem;

  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-primary-light, 0.8),
                  rgba($color-primary-dark, 0.8)),
  url(../img/nat-4.jpg);
  background-size: cover;
  background-size: cover;

  //clip-path: polygon(0 20vh, 100% 0, 100% calc(100% - 20vh), 0 100%);
  transform:skewY(-7deg);
  &>*{
    transform:skewY(7deg);
  }
}

.section-tours{
  background-color: $color-grey-light-1;
  padding:15.626em 0 9.375em 0 ;
  margin-top: -10em;
}

.section-stories{
  position: relative;
  padding: 15rem 0;
  //background: $color-grey-light-1;

}

.section-book{
  padding:15rem 0;
  background-image: linear-gradient(to right bottom,$color-primary-light, $color-primary-dark);
}

.book{
  background-image: linear-gradient(105deg,
                  rgba($color-white,.9) 0%,
                  rgba($color-white,.9) 50%,
                  transparent 50%),
  url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
  height: 50rem;
}
.book-form{

  width: 50%;
  padding: 6rem;


}
