.main__card {
    width: 22.8rem;
    height: 27rem;
    background: var(--color-white);

}

.main__card img {
    width: 100%;

}

.main__card-title {
    margin: 20px;
    font-weight: 400;
}

.main__card-content-wrapper {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: var(--default-font-size-small);
}

.main__level {

    color: var(--color-orange);

}

.main__students {
    color: var(--color-gray-span);

}

