body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  //font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-dark;

}


.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  //媒体查询


  &--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    @include respond(phone){
      letter-spacing: 1rem;
      font-size:5rem;
    }
  }

  &--sub {
    font-size: 2rem;
    letter-spacing: 0.75em;
    display: block;
    font-weight: 400;
    animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all .2s;

  //媒体查询
  @include respond(tab-port){
    font-size:2.5rem;
  }
  @include respond(phone){
    font-size:2rem;
  }
  &:hover{
    transform:skewX(20deg) skewY(2deg) scale(1.1) ;
    text-shadow:.5rem 1rem 2rem rgba($color-black,.2)
  }
}

.heading-tertiary{
  font-size:$default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph{
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
