body{
    min-width:1220px;
    background: #b5bebf;
}
.container{
    width: 1220px;
    margin: 0 auto;

}

/*heaader*/
.header{
    height: 100px;
    background: #000;
    padding-top:0.1px;

}

.header>.container{
    height: 40px;

    margin: 30px auto;
}

.header__logo{
    display: block;
    float:left
}


.header__nav{
    float:left;
}
.header__nav ul li{
    float:left;
    margin:0 25px;
}

.header__nav ul li a{
    display: block;
    color:#b5bebf;
    height: 40px;
    line-height: 40px;
}
.header__nav ul li a:hover{
    color:#fff;
}
.header__userInfo{
    float:right;
    height: 40px;
    line-height: 40px;

}
.header__avatar{
    float:left;
    display: inline-block;
    margin-right: 30px;
}

.header__avatar-icon{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image:url(../image/account-icon.png);
    background-norepea:no-repeat;
    background-position:0px 0px;
    vertical-align:middle;


}
.header__shoppingcart{
    float:right;
    display: inline-block;

}
.header__cart-icon{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image:url(../image/account-icon.png);
    background-norepeat:no-repeat;
    background-position:0px 20px;
    vertical-align:middle;
}

.header__count{

    color:#fff;
    background: #999;
    line-height: 14px;
    padding: 0 5px;
    border-radius: 2em;

}


/*main*/
.main{
    background: #ededed;
    padding-bottom:0.1px;
}
/* main__subnav*/
.main__subnav{
    height: 88px;
    line-height: 88px;
}

.main__subnav ul li{
    float:left;
}

.main__subnav ul li:not(:last-child){
    margin-right: 40px;
}
.main__subnav ul li a{
    color:inherit;
}

/* main__banner*/
.main__banner{
    height: 500px;
    background: url("../image/main-banner.png")  center center no-repeat;
    border-radius:1em;
    margin-bottom: 20px;

}


/* main__product*/
.main__product{
    margin-bottom: 29px;

}
.main__ads{
    margin-bottom: 7px;


}
.main__ad{
    width: 305px;
    height: 200px;
    float:left;
    overflow: hidden;
}
.main__ad:first-child{
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}
.main__ad:last-child{
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
}
.main__ad img{
    width: 100%;
}
.main__cards{

}
.main__card{
    float:left;
    width: 305px;
    height: 423px;
    background: #fff;
    overflow:hidden;
}
.main__card:first-child{
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}
.main__card:last-child{
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
}
.main__card:not(:last-child){
    border-right:1px solid #ccc;
}
.main__card-photo{
    width: 206px;
    height: 206px;
    margin: 46px auto 13px;
}
.main__card-phto img{
    width: 100%;
}
.main__card-wrapper{
    text-align: center;
}
.main__card-heading{
    font-size:16px;
    font-weight: 400;
    margin-bottom: 8px;
}
.main__card-des{
    color:#b4b8b3;
    font-size:12px;
    margin-bottom: 62px;
}
.main__card-price{
    color:red;
    font-size:18px;
}
.main__card:first-child{
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}
.main__card:last-child{
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
}

/* main__features*/
.main__features{
    margin-bottom: 29px;
}

.main__heading{
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    line-height: 60px;
    background: #fafafa;
    border-bottom:1px solid #ccc;
}
.main__heading{
    padding-left: 20px;
}
.main__features-banner{
    width: 610px;
    height: 423px;
    float:left;
    border-bottom:1px solid #ccc;
    overflow: hidden;

}
.main__features-banner img{
    width: 100%;

}
.main__features-wrapper .main__card{
    border-bottom:1px solid #ccc;
}
.main__features-wrapper .main__card:first-child{
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}
.main__features-wrapper .main__card:last-child{
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
}

/* main__messages*/

.main__messages{
    margin-bottom: 60px;
}

.main__messages  .main__ad:first-child{
    border-top-left-radius:0px;
    /*border-bottom-left-radius:0px;*/
}
.main__messages .main__ad:last-child{
    border-top-right-radius:0px;
    /*border-bottom-right-radius:0px;*/
}



/*footer*/
.footer{
    background: #fff;
    padding-bottom:0.1px;
}
.footer__link{
    margin-top: 99px;
    float:left;
}
.footer .container{
    margin-bottom: 40px;
}
.footer__link:not(:last-child){
    margin-right: 60px;
}
.footer__link li:first-child{
    margin-bottom: 20px;
    font-size:12px;
}
.footer__link li:not(:first-child){
    margin-bottom: 12px;
    font-size:12px;
    color:#ccc;
}
.footer__link a{
    color:inherit;
}
.footer__info{
    float:right;
    margin-top: 99px;
    text-align: right;
}
.footer__num{
    color:#646464;
    margin-bottom: 20px;
}
.footer__time{
    color:#c3c3c3;
    margin-bottom: 25px;

}
.footer__btn{
    color:#5079d9;
    border:1px solid #5079d9;
    padding:0.5em 2em;

}



